body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #FAFAFA;
}


.img_box{
    display: flex;
    flex-wrap: wrap;
}

.img_box::after {
  content: '';
  flex-grow: 1e4;
  min-width: 20%;
}

.placeholder{
    margin: 2px;
    overflow: hidden;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}


.placeholder img{
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
    opacity: 0;
}

.placeholder img.loaded{
    opacity: 1;
}

.img_small {
    -webkit-filter:blur(50px);
    -moz-filter:blur(50px);
    filter: blur(50px);
    transform: scale(1);
}

i {
    display: block;
}

.placeholder:hover .img_large{
    transform:scale(1.2);
}
.img_large, .img_small, .placeholder:before, span{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.placeholder:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(52, 73, 94, 0.45);
  z-index: 100;
}
.placeholder:hover:before{
    opacity: 1;
}
.placeholder span{
    color:#eee;
    font-size: 4rem;
    text-transform : capitalize;
    display: none;
    font-family: menlo;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.placeholder:hover span{
    display: block;
}