body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #FAFAFA;
}

.content{
	width: 80%;
	max-width: 868px;
	margin: 0 auto;
}
.content p{
    margin-top: 180px;
    padding: 10px;
    font-size: 20px;
}
h1{
	text-align: center;
	width: 100%;
	color: #444;
}

.placeholder{
    display: block;
    margin: 0 auto 100px;
    width: 75%;
    border: 1px solid #f6f6f6;
    overflow: hidden;
    background-color: #ddd;
    position: relative;
}

.placeholder:after {
    content: '';
    display: block;
    margin-bottom: 66.6%;
}

.placeholder img{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s linear;
}

.placeholder img.loaded{
    opacity: 1;
}

.img_small {
    -webkit-filter:blur(50px);
    filter: blur(50px);
    transform: scale(1);
}